@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?myv2pz');


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e900";
}