.header {
	height: 100vh;
	transition: all .2s;
	
	&__main {
		height: 100%;
	}
	
	&__bg {
		margin-right: -165px;
		overflow: hidden;
		height: 100%;
		position: relative;
	}

	&__bg::after {
		content: '';
		width: 0;
		height: 0;
		border: 0 solid transparent;
		border-left-width: 0px;
		border-right-width: 107px;
		border-top: 621px solid $white;
		@include pos($b: 0);
	}	

	&__foto {
		height: 100%;
		min-width: 100%;
	}
	
	&__nav {
		background: $green;
	}

	&__wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__text {
		text-align: center;
	}

	&__title {
		font-size: 22px;
		margin-bottom: 15px;
		text-align: right;
	}

	&__link {
		display: block;
		text-decoration: none;
		color: $white;
		font-size: 22px;
		background: $green;
		height: 75px;
		width: 100%;
		border-radius: 12px;
		padding: 25px 0;
	}

	&__link:hover {
		background: $green-active;
    }
	
}

.logo {
	&__link {
		margin-top: -60px;
		display: block;
	}
}

.menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 60px;
				
		&__link {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font: 18px $font;
			color: $white;
			margin-left: 40px;
			padding: 10px 16px;
			position: relative;
  			transition: all .3s cubic-bezier(.2, 0, 0, 1);
  			z-index: 1;
		}

		&__link::after {
			content: '';
    		display: block;
    		
    		position: absolute;
    		bottom: 0;
    		right: 16px;
    		left: 16px;
    		background-color: #ffffff;
    		transition: all .3s cubic-bezier(.2, 0, 0, 1);
    		transform-origin: bottom center;
    		z-index: -1;
		}

		&__link:hover {
			color: $green;
		
			&::after {
				right: 0;
				left: 0;
				height: 100%;
			}
		}
	}





















